:root {
  --background-color: #FFFFFF;
  --accent-color: #FEAE00;
}

body {
  background-color: var(--background-color);
}

#head {
  min-height: 80vh;
}

.navbar {
  background-color: var(--accent-color)!important;
}

.navbar-toggler & .navbar-toggler:active {
  border: none!important;
}

#linkedin > span {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

#linkedin:hover > span {
  opacity: 0;
}

#li-alert, #gh-alert {
  max-width: 0px;
  transition: max-width 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}

#linkedin:hover > #li-alert, #github:hover > #gh-alert {
  max-width: 500px;
}

#profileimage {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

span.underline-primary {
  -webkit-background-image: linear-gradient(0deg, #feae00 30%, transparent 30%);
  background-image: linear-gradient(0deg, #feae00 30%, transparent 30%);
}

.wiggle {
  display: inline-block;
}

h1:hover > .wiggle {
  -webkit-animation: wiggle 0.2s infinite;
  animation: wiggle 0.2s infinite;
}

#skills > i {
  font-size: 30px;
}

/* Animationen */

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes changeRadius {
  0% {
    -webkit-border-radius: 5% 5% 5% 5%;
    border-radius: 5% 5% 5% 5%;
  }
  11% {
    -webkit-border-radius: 50% 5% 5% 5%;
    border-radius: 50% 5% 5% 5%;
  }
  22% {
    -webkit-border-radius: 50% 50% 5% 5%;
    border-radius: 50% 50% 5% 5%;
  }
  33% {
    -webkit-border-radius: 50% 50% 50% 5%;
    border-radius: 50% 50% 50% 5%;
  }
  44% {
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
  }
  55% {
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
  }
  66% {
    -webkit-border-radius: 50% 50% 50% 5%;
    border-radius: 50% 50% 50% 5%;
  }
  77% {
    -webkit-border-radius: 50% 50% 5% 5%;
    border-radius: 50% 50% 5% 5%;
  }
  88% {
    -webkit-border-radius: 50% 5% 5% 5%;
    border-radius: 50% 5% 5% 5%;
  }
  99% {
    -webkit-border-radius: 5% 5% 5% 5%;
    border-radius: 5% 5% 5% 5%;
  }
  100% {
    -webkit-border-radius: 5% 5% 5% 5%;
    border-radius: 5% 5% 5% 5%;
  }
}
