:root {
  --background-color: #FFFFFF;
  --accent-color: #FEAE00;
}

body {
  background-color: var(--background-color);
}

#head {
  min-height: 80vh;
}

.navbar {
  background-color: var(--accent-color)!important;
}

.navbar-toggler & .navbar-toggler:active {
  border: none!important;
}

#linkedin > span {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

#linkedin:hover > span {
  opacity: 0;
}

#li-alert, #gh-alert {
  max-width: 0px;
  transition: max-width 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}

#linkedin:hover > #li-alert, #github:hover > #gh-alert {
  max-width: 500px;
}

/* .profile {
  max-width: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(/media/profile-andy.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.profile:hover {
  max-width: 300px;
  width: 100%;
  background-image: url(/media/profile-andy.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.profile > img {
  display: relative;
  transform: scale(0.4);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.profile:hover > img {
  transform: scale(0.5);
  opacity: 0.5;
} */

@keyframes wiggle {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  25% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  75% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

.wiggle {
display: inline-block;  }

h1:hover > .wiggle {
  -webkit-animation: wiggle 0.2s infinite;
  animation: wiggle 0.2s infinite;
}

span.underline-primary {
  background-image: linear-gradient(0deg, #feae00 30%, transparent 30%);
}

@keyframes changeRadius {
  0% {
    border-radius: 5% 5% 5% 5%;
    -webkit-border-radius: 5% 5% 5% 5%;
  }
  11% {
    border-radius: 50% 5% 5% 5%;
    -webkit-border-radius: 50% 5% 5% 5%;
  }
  22% {
    border-radius: 50% 50% 5% 5%;
    -webkit-border-radius: 50% 50% 5% 5%;
  }
  33% {
    border-radius: 50% 50% 50% 5%;
    -webkit-border-radius: 50% 50% 50% 5%;
  }
  44% {
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
  }
  55% {
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
  }
  66% {
    border-radius: 50% 50% 50% 5%;
    -webkit-border-radius: 50% 50% 50% 5%;
  }
  77% {
    border-radius: 50% 50% 5% 5%;
    -webkit-border-radius: 50% 50% 5% 5%;
  }
  88% {
    border-radius: 50% 5% 5% 5%;
    -webkit-border-radius: 50% 5% 5% 5%;
  }
  99% {
    border-radius: 5% 5% 5% 5%;
    -webkit-border-radius: 5% 5% 5% 5%;
  }
  100% {
    border-radius: 5% 5% 5% 5%;
    -webkit-border-radius: 5% 5% 5% 5%;
  }
}

#profileimage {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  /* animation: changeRadius 20s infinite;
  -webkit-animation: changeRadius 20s infinite; */
}
